/*
 * Copyright (c) 2014 SUSE LINUX Products GmbH
 * Copyright (c) 2015 SUSE Linux GmbH
 *
 * This software is licensed under the terms of the GNU General Public
 * License version 2, as published by the Free Software Foundation, and
 * may be copied, distributed, and modified under those terms.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
/dts-v1/;
#include "zynq-parallella1.dtsi"

/ {
	model = "Adapteva Parallella Board with HDMI bitstream";

	hdmi-connector {
		compatible = "hdmi-connector";
		type = "d";
		label = "hdmi";

		port {
			hdmi_connector_in: endpoint {
				remote-endpoint = <&adv7513_out>;
			};
		};
	};
};

&usb_phy0 {
	status = "okay";
};

&usb_phy1 {
	status = "okay";
};

&fpga {
	axi_vdma: axi-vdma@43000000 {
		compatible = "xlnx,axi-vdma-1.00.a", "xlnx,axi-vdma";
		reg = <0x43000000 0x1000>;
		#dma-cells = <1>;
		#address-cells = <1>;
		#size-cells = <1>;
		#dma-channels = <1>;
		xlnx,num-fstores = <0x3>;
		xlnx,flush-fsync = <0x1>;

		dma-channel@43000000 {
			compatible = "xlnx,axi-vdma-mm2s-channel";
			interrupt-parent = <&intc>;
			interrupts = <0 59 4>;
			xlnx,datawidth = <64>;
			xlnx,include-dre = <0>;
			xlnx,genlock-mode = <0>;
		};
	};

	hdmi_clock: axi-clkgen@66000000 {
		compatible = "adi,axi-clkgen-2.00.a";
		reg = <0x66000000 0x10000>;
		#clock-cells = <0>;
		clocks = <&clkc 17>;
	};

	axi_hdmi@6C000000 {
		compatible = "adi,axi-hdmi-tx-1.00.a";
		reg = <0x6c000000 0x10000>;
		dmas = <&axi_vdma 0>;
		dma-names = "video";
		clocks = <&hdmi_clock>;
		adi,is-rgb;

		port {
			axi_hdmi_out: endpoint {
				remote-endpoint = <&adv7513_in>;
			};
		};
	};

	audio_clock: audio-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <12288000>;
	};

	axi_spdif_tx_0: axi-spdif-tx@75c00000 {
		compatible = "adi,axi-spdif-tx-1.00.a";
		reg = <0x75c00000 0x1000>;
		clocks = <&clkc 15>, <&audio_clock>;
		clock-names = "axi", "ref";
		dmas = <&dmac_s 0>;
		dma-names = "tx";

		#sound-dai-cells = <0>;
	};

	adv7511_hdmi_snd: adv7511_hdmi_snd {
		compatible = "adv7511-hdmi-snd";
		audio-codec = <&adv7513>;
		cpu-dai = <&axi_spdif_tx_0>;
	};
};

&i2c0 {
	adv7513: hdmi@39 {
		compatible = "adi,adv7513";
		reg = <0x39>;
		adi,input-color-depth = <0x0>;
		adi,input-style = <0x2>;
		adi,bit-justification = <0x0>;
		adi,clock-delay = <0x3>;
		adi,input-id = <0x1>;
		adi,sync-pulse = <0x3>;
		adi,up-conversion = <0x0>;
		adi,timing-generation-sequence = <0x0>;
		adi,vsync-polarity = <0x2>;
		adi,hsync-polarity = <0x2>;
		adi,tdms-clock-inversion;

		#sound-dai-cells = <0>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				adv7513_in: endpoint {
					remote-endpoint = <&axi_hdmi_out>;
				};
			};

			port@1 {
				reg = <1>;

				adv7513_out: endpoint {
					remote-endpoint = <&hdmi_connector_in>;
				};
			};
		};
	};
};

&usb0 {
	status = "okay";
};

&usb1 {
	status = "okay";
};
